# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Uploads folder (personal resumes)
backend/uploads/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Python eggs
*.egg-info/
dist/
build/